Downloads/
Dropbox/
Library/
Music/
Movies/
Pictures/
Public/
github/
src/
tmp/
.ssh/
.cache/
.viminfo
.zsh_history
visualparadigm/
.oh-my-zsh/
.zcompdump
.zsh-update
.zshrc.pre-oh-my-zsh
.vim
.vimrc
.gvimrc
