.DS_Store
.bash_history
.bash_logout
.bashrc
.cache/
.gem/
.gvimrc
.janus/clam/
.janus/vitality/
.links/
.oh-my-zsh/
.rvm/
.ssh/
.vim/
.viminfo
.vimrc
.zcompdump
.zlogin
.zsh-update
.zsh_history
src/
.erlang.cookie
.pry_history
bin/
downloads/
