Applications/
Documents/
Desktop/
Downloads/
Dropbox/
Library/
Music/
Movies/
Pictures/
Public/
.DS_Store
github/
src/
tmp/
.ssh/
.cache/
.viminfo
.vim/
visualparadigm/
.oh-my-zsh/
.zcompdump
.zsh-update
.zshrc.pre-oh-my-zsh
.rvm/
.gem/
.mutt/
.muttrc
.*_history
.rnd
.Trash/
.erlang.cookie
.cabal/
.fontconfig/
.ghc/
.lesshst
.Xauthority
.xmonad/
.janus/
.elinks/
.htoprc
.FontForge/
.bashrc
.cups/
.dropbox/
.gemrc
.gitignore_global
.gvimrc.before.OLD
.hgignore_global
.hgrc
.irb-history
.mindterm/
.node_libraries/
.npm/
.openvpn-connect.json
.passenger/
.rest-client/
.ssh2/
.terminfo/
.tm_properties
.todomanager/
.vim-cache/
.zlogin
bin/gate
gate.pem
qa1ec2.pem
