URxvt.font: xft:lettergothicmonoot light for powerline:style=Light:pixelsize=12
URxvt.italicfont: xft:lettergothicmonoot regular for powerline:style=Italic:pixelsize=12

URxvr.termName:              rxvt-unicode-256color
URxvr.saveLines:             8192

URxvt.perl-ext-common:  default

URxvt.urlLauncher:      chromium

URxvt.matcher.button:   1

URxvt.scrollBar:             true
URxvt.scrollBar_right:       true
URxvt.scrollBar_floating:    true
URxvt.scrollstyle:           plain
!! S_green:
URxvt.scrollColor:           #719e07

URxvt.cursorUnderline:  true
URxvt.foreground:       white
URxvt.background:       black
